html{
    background-color: black;
}
.poster{
    width: 50%;
    margin-left: 25%;
    margin-top: 80px;
    color: white;
    text-align: center;
    font-family: cursive;
}
.heading{
    text-transform: uppercase;
}
.road{
    width: 100%;
    border: 6px solid white;
}